body {
  font-size: 10px;
  background: rgb(47, 168, 225);
}

a {
  text-decoration: none;
}

.logo-text {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-family: Goldman;
  font-size: 37px;
}

.thumbnail-item {
  /* некоторые браузеры не поддерживают rgba, поэтому два
	объявления — метод указания резервного значения. */
  display: block;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-title {
  background: rgb(96, 125 139);
  color: rgb(202, 238, 255);
  display: block;
  margin: 0;
  padding: 4px 10px;
  font-size: 18px;
}

.thumbnail-list {
  list-style: none;
  padding: 0;
}

/* При использовании такого синтаксиса будут выбраны все элементы li, которым
непосредственно предшествует имеющий того же родителя элемент li. В резуль-
тате объявленные стили будут применены к li со второго по пятый, но не к перво-
му, поскольку ему не предшествует другой li*/
.thumbnail-item + .thumbnail-item {
  margin-top: 10px;
}
